@model stokMVC.Models.Entity.musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-bottom:6px">
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m=>m.musteriAd, new {@class="form-control"})
        @Html.ValidationMessageFor(m=>m.musteriAd,"", new {@style="color:red"}) 
    </div>
    <div>
        <label>Müşteri Soyadı</label>
        @Html.TextBoxFor(m => m.musteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.musteriSoyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Müşteri Ekle</button>
    </div>
</form>
